header {
    background-image: url (https://media.istockphoto.com/id/133594167/photo/beach-sand-background.webp?s=1024x1024&w=is&k=20&c=GTYGr3jMam3WKIYs7F9Pff9Yoe9NsqiHvSmcLF5V0mU=);
    
}

img {
    width: 150%;
    max-width: 700px;
}

