html {
  font-size: calc( 1em + 1vw); /*Setter grunnsøttelsen på teksten i hele dokumentet */
}

*{ box-sizing: border-box; /*Inkluderer padding og border i elementets totale bredde og høyde*/
}

body{
    
    font-family: Arial, Helvetica, sans-serif; /*Setter foten eller skriften til Arial og dersom den ikke finnes blir det fallback til helvetica*/
}

h1 {font-size: 2rem;}
h2 {font-size: 1.8rem ;}
h3 {font-size: 1.6rem;}
h4{font-size: 1.4;}
p, a{font-size: 1rem;}

#grid-container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(3,auto);
  row-gap: 2rem;
}

#global-header{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1 / 2;
  /*grid-colum: 1 /4; */

}

#banner{
  display:flex;
  flex-wrap: wrap;
  background-color: #efefef;
  justify-content: space-around;

  img{
    max-width: 70% ;
  }
}

#banner div{
  width: 30%
  padding: 1rem;
}

#banner div h2{
  font-size:  1rem 0rem 1rem 1rem 1rem;
}

main {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3; 
}

main nav ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

#category-menu{
  grid-column: 1/2;
  grid-row: 2/3;
}

#category-menu nav ul {
  list-style: none;

}

footer {
  grid-column-start: 1;
  grid-column-end: 4;

  grid-row-start: 3;
  grid-row-end: 4;
}
img {
  width: 100%; /*Logoen tar opp 100% av containerens bredde (BETYR??)*/
  max-width: 400px; 
}

#main-logo {
    width: 100%; /*Logoen vil ta opp 100 prosent av containerens bredde*/
    max-width: 250px; /*Mens max bredde på logoen er 250 px*/
    display: block; /*Gjør logoen om til et blokk element*/
    margin: 0px auto;/*Sentrerer logoen horisontalt*/
}

.flex-menu {
    display: flex; /*bruker flexbox for å arrangere elementene i menyen*/
    list-style: none; /*Fjerner punktmerking på listelementen*/
    gap: 1rem; /*Legger til et gappå 1 rem mellom meny elemntene*/
    padding: 0; /*Fjener standard padding fra lista*/
    margin: 0; /*Gjener standard marin fra lista*/
    flex-wrap: wrap; /*Tillater at elementene brytes til neste rad hvis det ikke er nok plass*/
  }

.flex-menu a {
    text-decoration: none; /*Fjerner understreken fra lenkene*/
    color: #000; /*Setter fargen på lenkene til svart*/
  }

.flex-space-b {
    display: flex; /*bruker flexbox for layoyt HVA BETYR DET?*/
    justify-content: space-between; /*Fordeler elementene jevnt med palss mellome den*/
    flex-wrap: wrap; /*tillater el elementene brytes til neste rad*/
    gap: 1rem; /*legger tile t gap på 1 rem mellom elementene*/
}

.flex-space-b form {
    position: relative; /*Gjør skjema fleksibelt for posisjonering av indre elementer*/
}
.flex-space-b form label {
    visibility: hidden; /* Skjuler etiketten visuelt, men beholder den for tilgjengelighet */
    position: absolute; /* Posisjonerer etiketten absolutt i forhold til skjemaet */
  }

#outlet {
    color: #ff0000; /* Setter teksten til elementet med ID 'outlet' til rød farge */
}

.product-card {
    max-width: 350px; /* Maksimal bredde for produktkortet er 350px */
    min-width: 200px; /* Minimum bredde for produktkortet er 200px */
    width: 100%; /* Produktkortet tar opp 100% av sin container */
    box-shadow: 13px 9px 20px 0px #efefef; /* Legger til en boks-skygge for dybdeeffekt */
    border-radius: 4px; /* Avrunder hjørnene på produktkortet med 4px */
    padding: 1rem; /* Legger til 1rem padding på innsiden av produktkortet */
}

/*desktop*/
@media only screen and (min-width:800px){
  .fa-bars{
    display: none;
  }
  #menu{
    display: flex !important;
  }
  h3{font-size: 1.2rem;}
  p,a{font-size: 0.6rem;}
}
 /*mobil*/
@media only screen and (max-width: 800px){

  #menu{
    display: none;
  }

  #grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }

  header, main, aside, footer{
    grid-colum: 1/2;
  }

  header{
    grid-row: 1/2;
  }
  main{
    grid-row: 2/3;
  }
  aside{
    display: none;
  }
  footer{
    grid-row: 3/4;
  }
}